<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FRONTEND DASHBOARD - SYSTEM</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="/assets/dist/fonts/font-awesome/css/font-awesome.css"> #}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/dist/fonts/icomoon/icomoon.css">
    {#<link rel="stylesheet" href="/assets/plugins/datatables/dataTables.bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="/assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/dist/css/global.css">
    {% block customCSS %}
    {% endblock %}
    <link rel="icon" href="/assets/dist/img/cart-icon.png">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="/dashboard" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">PROINSTA <small><strong>SYSTEM</strong></small></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="user">
                        <a href=""><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/assets/dist/img/avatar5.png" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                   <!--  <p style="text-transform: capitalize">{{ app.session.get('uname')['value'] }}</p> -->
                    <a href="#"><i class="fa fa-circle text-success"></i>

                    </a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">DAFTAR MENU</li>
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class=""></i>
                        <span>Validation</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/user-validation">
                                <i class="fa fa-circle-o"></i>Validation
                            </a>
                        </li>
                        <li>
                            <a href="/validation-history">
                                <i class="fa fa-circle-o"></i>History
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class=""></i>
                        <span>Deposit</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/deposit-balance">
                                <i class="fa fa-circle-o"></i>Balance
                            </a>
                        </li>
                        <li>
                            <a href="/deposit-history">
                                <i class="fa fa-circle-o"></i>History
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class=""></i>
                        <span>Withdrawal</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/withdrawal-balance">
                                <i class="fa fa-circle-o"></i>Balance
                            </a>
                        </li>
                        <li>
                            <a href="/withdrawal-history">
                                <i class="fa fa-circle-o"></i>History
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                      <i class=""></i>
                      <span>Transfer Balance</span><i class="fa fa-angle-left pull-right"></i>  
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/transfer-balance">
                                <i class="fa fa-circle-o"></i>Balance
                            </a>
                        </li>
                        <li>
                            <a href="/transfer-history">
                                <i class="fa fa-circle-o"></i>History
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class=""></i>
                        <span>Transfer From Account</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/from-account">
                                <i class="fa fa-circle-o"></i>Balance
                            </a>
                            <a href="/from-account-history">
                                <i class="fa fa-circle-o"></i>History
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class=""></i>
                        <span>Transfer To Account</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/to-account">
                                <i class="fa fa-circle-o"></i>Balance
                            </a>
                        </li>
                        <li>
                            <a href="/to-account-history">
                                <i class="fa fa-circle-o"></i>History
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content %}
        {% endblock %}
    </div><!-- /.content-wrapper -->
    {#<footer class="main-footer">#}
    {#<div class="pull-right hidden-xs">#}
    {#<b>Version</b> 1.0#}
    {#</div>#}
    {#<strong>Copyright &copy; 2016-2021 <a target="_blank" href="http://komaltechno.com">KOMALTECHNO Inc.</a></strong> All rights reserved.#}
    {#</footer>#}
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{#<script src="{{ app.request.basepath }}/assets/plugins/datatables/jquery.dataTables.min.js"></script>#}
{#<script src="{{ app.request.basepath }}/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>#}
<!-- SlimScroll -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.min.js"></script>

<script src="/assets/dist/js/tinymce/js/tinymce/tinymce.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/yaml/yaml.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>#}
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>

<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
{% block customJS %}
{% endblock %}
</body>
</html>