{% extends 'layouts/layouts.twig' %}

{% block content %}
	<section class="table-layout animated fadeIn borderedBackground">
		<div class="container-fluid">
			&nbsp;
			<div class="row">
				<div class="col-md-11 center-block">
					<div class="col-md-12">
						<div class="f-center">
							<i class="fa fa-list-alt" style="font-size: 48px;"></i>
                            <h1>Daftar Validasi Pengguna</h1>
						</div>
						<div style="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
							<div class="panel panel-visible" id="spy2">
								<div class="panel-body pn">
									<input type="text" id="min" name="min">
									<input type="text" id="max" name="max">
									<button id="filter">filter</button>
									{# <table id="datatable2">
										<thead>
											<tr>
												<th>no</th>
												<th>nama</th>
												<th>tahun</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>afif</td>
												<td>2017-10-17</td>
											</tr>
											<tr>
												<td>1</td>
												<td>afif</td>
												<td>2017-10-18</td>
											</tr>
										</tbody>
									</table> #}
									<table class="table table-stripped table-bordered table-responsive" id="datatable2" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>No.</th>
												<th>Tiket</th>
												<th>Nama</th>
												<th>Status</th>
												<th>Aksi</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block customJS %}
	<script>
		$(document).ready(function() {

			// table = $('#datatable2').DataTable();

			$('#min,#max').datepicker({
				format: 'yyyy-mm-dd'
			});

			table = $('#datatable2').DataTable({
				"processing" : true,
				"serverSide" : true,

				"ajax" : {
					"url" : "/list-validation",
					data : function(d) {
						d.min = $('#min').val(),
						d.max = $('#max').val()
					}
				},

				"columns" : [
					{"data" : "no"},
					{"data" : "ticket"},
					{"data" : "bank_beneficiary_name"},
					{"data" : "created"}
				]
			});

			$('#filter').click(function(e) {
				table.draw();
				e.preventDefault();
			});

		});
	</script>
{% endblock %}	